html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-transform: capitalize;
  background-color: #FCFCFC;
  overflow-x: hidden;
  font-family: 'Circular Std Book', sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/circular-std-book');

@import url('../fonts/ProximaNovaFont.otf');

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-link {
  margin: 0 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
  transition: all 0.5s ease;
}

.header-link:hover {
  color: #56597A;
  transition: all 0.5s ease;

}

.active {
  color: #56597A;
}

.set img {
  margin-top: 7px;
  color: #56597A;
}

.header-link:hover img {
  color: #56597A;
  opacity: 0.5;
}

.back {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/background111.svg);
  position:absolute;
  top: 0;
  right: 0;
  padding-bottom: 350px;
  z-index: -5;

}

.catch {
  margin-top: 50px;
}

.hero-span {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 15px;
}

.hero-title {
  width: 560px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  color: #56597A;
  margin: 5px 0 31px 0;
}

.hero-txt {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #919299;
  margin-bottom: 50px;
}

.btn {
  padding: 12px 45px 12px 12px;
  background-color: #F78BB6;
  border-radius: 5px;
  display: inline-block;
  transition: padding 1s ease;
}

.btn:hover {
  transition: padding 1s ease;
  opacity: 0.9;
}

.realative {
  position: relative;
}

.btn::after {
  position: absolute;
  top: 6px;
  right: 1px;
  width: 30px;
  height: 30px;
  display: inline-block;
  content: "";
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url("../img/loging.svg");
  margin-right: 10px;
}

.open-span {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
}

.open-title {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  color: #56597A;
  margin-top: 8px;
}

.openning {
  margin-top: 80px;
}

.big {
  height: 400px;
  margin-bottom: 80px;

}

.fal {
  font-size: 35px;
  color: rgb(201, 181, 181);
  transition: color 1s ease;

}

.far {
  font-size: 35px;
  color: rgb(155, 146, 146);
  transition: color 1s ease;
}

.card {
  background-color: #FFF1F9;
  padding: 20px;
  padding-top: 50px;
  width: 270px;
  height: 300px;
  transition: all 1s ease;
  border-radius: 5px;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 72px;
  text-align: center;
  color: #56597A;
  transition: all 1s ease;

}

.card-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #919299;
}

.card:hover {
  background: #F78CB6;
  height: 355px;
}

.card:hover .far {
  color: #fff;
  transition: color 2s ease;
}

.card:hover .fal {
  color: #fff;
  transition: color 2s ease;
}

.card:hover h2 {
  color: white;
  transition: all 1s ease;
}

.card:hover p {
  color: white;
}

.card:hover .card-link {
  opacity: 1;
}

.card-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffff;
  opacity: 0.1;
  display: inline-block;
}

.bxs-right-arrow {
  position: relative;
  top: 2px;
}

.decrp-span {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
  margin-top: 15px;
}

.descrp-title {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 58px;
  color: #56597A;
  margin-top: 5px;
  margin-bottom: 25px;
}

.descrp-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #919299;
  margin-bottom: 20px;
}

.paint img {
  margin-top: 55px;
}

.unf {
  margin-top: 125px;
}

.persn-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #56597A;
  margin-bottom: 6px;
}

.persn-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ABABAB;
  margin: 0;
}

.take {
  margin-top: 150px;
  margin-bottom: 150px;
}

.blog {
  position: relative;
}

.blog-title::before {
  width: 250px;
  height:   250px;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/ball.svg");
  top: 0;
  left: -25px;
}

.blog-title {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  color: #56597A;
}

.blog-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #919299;
}

.hero-form {
  padding: 25px;
  margin-bottom: 55px;
}

.ball {
  position: relative;
}

.ball img {
  position: absolute;
  top: 50%;
  left: 30%;
}

.mail-input {
  display: inline-block;
  width: 340px;
  height: 50px;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: (20px 20px 40px rgba(205, 205, 205, 0.25));
}

.all {
  margin-left: 50px;
}

.footer-page {
  margin-right: 11%;
}

.footer-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #919299;
}

.footer-span {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #919299;
  display: block;
  margin-bottom: 8px;
}

.social {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 0 15px 1px rgb(245, 240, 240);
}

.social i {
  font-size: 22px;
}

.social .bx {
  color: rgba(0, 0, 0, 0.658);
}

.footer-list>* {
  display: block;
}

.footer-item span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #56597A;
}

.footer-list a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #919299;
  margin-right: 115px;
}

#last {
  background-color: #F78CB6;
}

.sale {
  width: 100%;
  padding: 5px 20px;
}

.last-form::before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/Web.svg');
  position: relative;
  top: 25px;
  left: -40px;
  background-size: cover;
}

.mirage {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}



.footer__bg {
  width: 1500px;
  height: 480px;
  background-repeat: no-repeat;
  background-image: url(../img/mountain.svg);
  background-position: left -70px bottom;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 100px;
}